!!! / that stupid doctype line
%html
    %head
        %title Stupid URL SHAWTY thing
        %link{:rel => 'stylesheet', :href => 'http://www.w3.org/StyleSheets/Core/Swiss', :type => 'text/css'}  
        /%script{:type => "text/javascript", :charset => "utf-8", src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}
        /%script{:type => "text/javascript", :charset => "utf-8", src="jscode.js"}
        /<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript">        
        %style{:type => "text/css", :media => "screen"}
            :plain
                #urlbox{
                    width:380px;
                    height:25px;
                    align:center;
                } 
                
    %body
        %p
        %p
        #header
            %h1 SHAWTIFY THAT URRRL
        #content    
            %form{:name => "url", :id => "url", :action => "/", :method => "post", :enctype => "text/plain"}
                %input{:type => "text", :id=> "urlbox", :name => "original", :class => "text"}
                %input{:type => "submit", :value => "Shawtify", :class => "button"}
            %p= "Wsup here's some words: " + @keything.to_s